
/* Page Event Edit */
#page-events-edit .image{
    position: relative;
    min-height: 50px;
}
#page-events-edit .image .controls{
    position: absolute;
    top: 15px;
    left: 15px;
}
#page-events-edit .image img{
    max-width: 100%;
}
#page-events-edit label{
    line-height: 24px;
}
#page-events-edit .form-group {
    position: relative;
}
/* Page Menus Item Edit */
#page-menus-item-edit .intro-image{
    position: relative;
}
#page-menus-item-edit .intro-image img{
    max-width: 100%;
}
#page-menus-item-edit .intro-image button{
    position: absolute;
    top: 15px;
    left: 15px;
}
#page-menus-item-edit .intro-video{
    position: relative;
}
#page-menus-item-edit .intro-video img{
    width: 100%;
}
#page-menus-item-edit .intro-video button{
    position: absolute;
    top: 15px;
    left: 15px;
}
/* Page Multimedia */
#page-multimedia .card-image{
    position: relative;
    height: 200px;
    overflow: hidden;
}
#page-multimedia .card-image a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
#page-multimedia .type-icon{
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    padding: 0px 10px;
    background: #fff;
    font-size: 20px;
}
#page-multimedia .card-content p{
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#page-multimedia .card-title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 4px 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#page-multimedia .image-preview{
    max-width: 100%;
    margin-bottom: 10px;
}
#page-multimedia .image-preview img{
    width: 100%;
}
/* Page News */
#page-news thead th:first-child {
    width: 150px;
}
#page-news tbody td:first-child img {
    width: 100%;
}
/* Page News Edit */
#page-news-edit textarea {
    height: 700px;
}
#page-news-edit .news-image {
    text-align: center;
}
#page-news-edit .news-image .btn {
    margin-top: 20px;
}
#page-news-edit .news-image img {
    width: 100%;
}
/* Page Newsletter Send */
#page-newsletter-send label{
    line-height: 24px;
}

/* Page Newsletter Send Greetings */
#page-newsletter-send-greetings label{
    line-height: 24px;
}
#page-newsletter-send-greetings .users-list{
    display: none;
    padding: 0 20px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #dcdcdc;
}
#page-newsletter-send-greetings .groups-list{
    display: none;
    padding: 0 20px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #dcdcdc;
}

/* Page Newsletter Send Empty */
#page-newsletter-send-empty label{
    line-height: 24px;
}
#page-newsletter-send-empty .users-list{
    display: none;
    padding: 0 20px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #dcdcdc;
}
#page-newsletter-send-empty .groups-list{
    display: none;
    padding: 0 20px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #dcdcdc;
}

/* Page Newsletter Send Content */
#page-newsletter-send-content ul.elements{
    list-style: none;
    padding: 0 5px;
    margin: 0;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#page-newsletter-send-content ul.elements li{
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    cursor: move;
    background: #f9f9f9;
}
#page-newsletter-send-content ul.elements li:nth-child(odd){
    background: #efefef;
}
#page-newsletter-send-content ul.elements li:last-child{
    margin-bottom: 0;
}
#page-newsletter-send-content ul.elements h4{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #626262;
}
#page-newsletter-send-content ul.elements p{
    margin: 0;
    font-size: 11px;
    color: #9d9d9d;
}
#page-newsletter-send-content li.news-element{
    border-left: 2px solid #b2cbff;
}
#page-newsletter-send-content li.event-element{
    border-left: 2px solid #99e08b;
}
#page-newsletter-send-content .drag-info{
    position: absolute;
    top: 50%;
    left: 100px;
    right: 100px;
    transform: translate(0, -50%);
    text-align: center;
}
#page-newsletter-send-content .search-elements{
    padding-top: 7px;
}
#page-newsletter-send-content .search-elements input{
    padding: 0 5px;
    background: #f5f5f5;
    box-shadow: none;
}
/* Page Partners */
#page-partners .partner-logo{
    height: 50px;
    overflow: hidden;
}
#page-partners .partner-logo img{
    height: 100%;
}
/* Page Project Edit */
#page-project-edit .image{
    position: relative;
    min-height: 50px;
}
#page-project-edit .image .controls{
    position: absolute;
    top: 15px;
    left: 15px;
}
#page-project-edit .image img{
    width: 100%;
}
#page-project-edit .project-images{
    padding-top: 20px;
}
#page-project-edit .project-image{
    display: block;
    position: relative;
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #979797;
}
#page-project-edit .project-image:hover > .remove{
    display: block;
}
#page-project-edit .project-image .remove{
    display: none;
    position: absolute;
    padding: 2px 4px;
    top: 5px;
    right: 5px;
    font-size: 25px;
    color: red;
    background: #fff;
    line-height: 0;
}
#page-project-edit .project-image img{
    width: 100%;
}
/* Page Sliders */
#page-sliders .card-title  {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
}
/* Page Slide Add */
#page-sliders-slide-add .slide-preview {
    max-width: 100%;
}
#page-sliders-slide-add .slide-preview img {
    width: 100%;
}
#page-sliders-slide-add .slide-preview .pr-bar {
    margin-top: 20px;
}
#page-sliders-slide-add input[type="checkbox"] {
    margin-left: 0px;
}
/* Page Slide Edit */
#page-sliders-slide-edit .slide-preview {
    max-width: 100%;
}
#page-sliders-slide-edit .slide-preview img {
    width: 100%;
}
#page-sliders-slide-edit .slide-preview .pr-bar {
    margin-top: 20px;
}
#page-sliders-slide-edit input[type="checkbox"] {
    margin-left: 0px;
}